<!--{% load static %}-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TMS hw_23</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="{% static 'css/tms.css' %}">-->
</head>
<body>
<p>Datetime|RequestId|URL|Result</p>
{% for number in numbers %}
<p>{{ number }}</p>
{% endfor %}
</body>
</html>
